<div class="shadow"></div>
<div class="modal" id="modal">
  <h3 class="modal__h3">New user:</h3>
  <table class="modal__newuser" cellspacing="0" cellpadding="0">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    <tr *ngIf="newUser">
      <td>{{newUser.firstName}}</td>
      <td>{{newUser.lastName}}</td>
      <td>{{newUser.gender}}</td>
      <td>{{newUser.age}}</td>
      <td>{{newUser.email}}</td>
      <td>{{newUser.password}}</td>
    </tr>
  </table>
  <h3 class="modal__h3">Old users:</h3>
  <div class="modal__table-container">
    <table class="modal__oldusers" cellspacing="0" cellpadding="0">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
      <tr *ngFor="let i = index; let user of allUsers;">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.age}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
      </tr>
    </table>
  </div>
  <button class="modal__button" (click)="signUpAgain()">Sign up again</button>
</div>