.signup {
    margin: auto;
    margin-top: 5%;
    max-width: 450px;
    min-width: 280px;
    width: 349px;
    padding: 2% 0 0;
}

.signup__header {
    width: 110%;
    height: 40px;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    background-color: blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.signup__header-label {
    vertical-align: middle;
}

.signup__form {
    position: relative;
    width: 100%;
    height: 400px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 5%;
}

.signup__flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.signup__field-name {
    position: relative;
    display: flex;
    max-width: 250px;
    flex-grow: 1;
    margin: 15px 3px 0px 3px;
    flex-direction: column;
}

.signup__input {
    outline: 0;
    background-color: #FFFFFF;
    border: 0;
    padding: 1px 0px;
    font-size: 14px;
    border-bottom: solid rgba(142, 142, 142, 0.582) 1px;
}


.signup__field-gender {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 15px 0px 0px 4px;
}

.signup__field-gender>* {
    margin-right: 14px;
    font-size: 16px;
}

.signup__field-age {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: 30%;
    min-width: 100px;
    flex-basis: 30%;
    margin: 15px 5px 0px 5px;
}

.signup__label-age {
    color: rgba(142, 142, 142, 0.582);
    margin-right: 25%;
}

.signup__input-age {
    position: absolute;
    outline: 0;
    width: 100%;
    right: 0;
    max-width: 50px;
    border: 0;
    border-bottom: solid rgba(142, 142, 142, 0.582) 1px;
}


.signup__label {
    font-size: 12px;
    color: rgba(142, 142, 142, 0.582);
}

.signup__label-gender {
    color: rgba(142, 142, 142, 0.582);
}

.signup__checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 22px;
}
/* Hide the browser's default radio button */

.signup__checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid #ff00ea;
    background-color: #FFFFFF;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */

.signup__checkbox-container input:checked~.checkmark {
    background-color: #FFFFFF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: #ff00ea;
}

/* Show the indicator (dot/circle) when checked */

.signup__checkbox-container input:checked~.checkmark:after {
    display: block;
}

.signup__button {
    position: absolute;
    width: 150px;
    padding: 5px;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0%);
    background-color: blue;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}

.signup__error {
    position: absolute;
    bottom: -15px;
    color: red;
    font-size: 12px;
}

/* .signup__check {
    background-color: red;
} */

.signup__button:disabled {
    background-color: #b3b3b3;
}

/* .signup__input.ng-touched.ng-valid {
    border: solid #98d361 2px;
} */

.font-11 {
    font-size: 11px;
}

.width-80 {
    width: 80px;
}

.flex-row {
    flex-direction: row;
}